@mixin blockBase {
    border-radius: 10px;
    border: 1px solid rgb(129, 110, 110);
}

.daoHome-container {
    display: flex;
    flex-flow: column;

    &__top {
		display: flex;
		flex-direction: row;
        

        &-bankAccounts {
            @include blockBase();
            
        }

        &-cards {
            @include blockBase();
            
        }
    }

    &__bottom {
        

        &-transactions {
            @include blockBase();
            
        }
    }
}