.daoHome-container {
    margin-top: 1em;

    &__top {
		display: flex;
		flex-direction: row;
        height: 40%;

        &-bankAccounts {
            border-radius: 10px;
            border: 1px solid rgb(129, 110, 110);
            width: 25em;
            height: 13em;
            margin: 10px;
        }

        &-cards {
            border-radius: 10px;
            border: 1px solid rgb(129, 110, 110);
            width: 25em;
            height: 13em;
            margin: 10px;
        }
    }

    &__bottom {
        height: 50%;

        &-transactions {
            border-radius: 10px;
            border: 1px solid rgb(129, 110, 110);
            width: 97%;
            margin: 10px;
            height: 100%;
        }
    }
}