.container {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;

    &__header {
        display: flex;
        flex-direction: row;
        height: 10%;
        width: 100%;
        border-bottom: 0.5px solid rgb(129, 110, 110);
        font-weight: bold;
        background: transparent;
        // backdrop-filter: blur(2px);
        z-index: 10;

        &-title {
            margin-left: 11%;
        }

        &-connectWalletButton {
            margin-left: auto;
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        height: 80%;
        max-width: 100%;
        text-align: center;
    }

    &__footer {
        height: 10%;
        width: 100%;
        border-top: 0.5px solid rgb(129, 110, 110);
        text-align: center;
    }
}